.container {
    border-radius: 31.5px;
    display: flex;
    flex-direction: row;
    color: var(--color-text);
    background-color: var(--color-dark-blue);
    padding: 8px;
    margin-top: 56px;
}

.buttonActive{
    background-color: var(--color-orange);
    color: var(--color-dark-blue);
    opacity: 1;
}