.container {
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    color: var(--color-dark-blue);
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.settings {
    background-color: white;
    border-radius: 25px;
    min-height: 460px;
    width: 540px;
    padding: 34px 0;
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
}

.modalHeader {
    border-bottom: 1px solid #E3E1E1;
    justify-content: space-between;
    padding: 0 40px 32px;
}

.modalHeader h1 {
    font-size: 2.8rem;
    font-weight: bold;
}

.modalHeader img {
    max-height: 14px;
    max-width: 14px;
}

.modalHeader button {
    border: none;
    background: none;
    cursor: pointer;
}

.buttonContainer {
    position: absolute;
    bottom: -27px;
    left: calc(50% - 70px);
}

.button{
    background-color: var(--color-orange);
    border: none;
    border-radius: 26.5px;
    color: white;
    height: 54px;
    width: 140px;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
}

.input {
    background-color: var(--color-light-grey);
    height: 48px;
    width: 140px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    padding: 15px;
}

.input:focus {
    outline: var(--color-grey) solid 1px;
}

.inputContainer {
    display: block;
}

.label {
    font-size: 1.3rem;
    opacity: 0.6;
    font-weight: bold;
}

.timeSection {
    border-bottom: 1px solid #E3E1E1;
    margin: 0 40px;
    padding: 28px 0 24px;
}

.container h2 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
}

.timeSection h2 {
    margin-bottom: 20px;
}

.container ul {
    display: flex;
    list-style-type: none;
}

.container li {
    margin-right: 16px;
}

.container li:last-child {
    margin-right: 0;
}

.container li button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--main-bg-color);
}

.container li button>span{
    opacity: 70%;
}

.activeFontButton {
    cursor: default;
    background-color: var(--color-dark-blue);
    color: white !important;
}

.activeFontButton > span {
    opacity: 100% !important;
}

.fontSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;
    border-bottom: 1px solid #E3E1E1;
    padding: 35px 0 30px;
}

.colorSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0 30px;
    margin: 0 40px;
}


.colorSection li:first-child button {
    background-color: var(--color-orange);
}

.colorSection li:nth-child(2) button{
    background-color: var(--color-light-blue);
}

.colorSection li:last-child button {
    background-color: var(--color-light-purple);
}

.activeColorButton::after {
    content: ' \2714';
}