.container{
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    padding-top: 48px;
    position: relative;
}

.logo {
    width: 160px;
    height: 36px;
}

.settingsBtn {
    background: none;
    border: none;
    margin-top: 65px;
    cursor: pointer;
}