.container{
    font-size: 10rem;
    color: white;
}

.outerRing{
    background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
    box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
    border-radius: 100%;
    padding: 22px;
}

.innerRing{
    background-color: var(--color-dark-blue);
    border: 2px solid red;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 366px;
    width: 366px;
}