/* Custom colors */
:root {
  --main-bg-color: #1E213F;
  --color-orange: #F87070;
  --color-light-blue: #70F3F8;
  --color-light-purple: #D881F8;
  --color-text: #FFF;
  --color-dark-blue: #161932;
  --color-grey: #D7E0FF;
  --color-light-grey: #EFF1FA;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
};

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
  font-family: serif;
}


html, body, #root{
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
